Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/UVicSci_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/ShawniganLake_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/Monterey_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/Cumberland_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/Craigflower_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/.ipynb_checkpoints/Cortes_Tp-checkpoint.dat
Data/UVicWeatherdata_Minute_2022/UVicSci_Tp.dat
Data/UVicWeatherdata_Minute_2022/ShawniganLake_Tp.dat
Data/UVicWeatherdata_Minute_2022/Monterey_Tp.dat
Data/UVicWeatherdata_Minute_2022/Cumberland_Tp.dat
Data/UVicWeatherdata_Minute_2022/Craigflower_Tp.dat
Data/UVicWeatherdata_Minute_2022/Cortes_Tp.dat
Data/.ipynb_checkpoints/Wind_Waveheight-checkpoint.dat
Data/.ipynb_checkpoints/VI_Coast-checkpoint.dat
Data/.ipynb_checkpoints/AllStation_Location2-checkpoint.txt
Data/.ipynb_checkpoints/AllStation_Location-checkpoint.txt
Data/.ipynb_checkpoints/All_hourly_temperature_data_2022-checkpoint.dat
Data/.ipynb_checkpoints/All_hourly_pressure_data_2022-checkpoint.dat
Data/Wind_Waveheight.dat
Data/VI_Coast.dat
Data/AllStation_Location2.txt
Data/AllStation_Location.txt
Data/All_hourly_temperature_data_2022.dat
Data/All_hourly_pressure_data_2022.dat
