__pycache__/myStats.cpython-310.pyc
__pycache__/main_functions.cpython-310.pyc
__pycache__/myData.cpython-310.pyc
__pycache__/myPlots.cpython-310.pyc
__pycache__/mySignal.cpython-310.pyc
__pycache__/myStats.cpython-310.pyc
__pycache__/mySignal.cpython-310.pyc
__pycache__/myPlots.cpython-310.pyc
__pycache__/myData.cpython-310.pyc
